.idea/
.git/
.claude/
.codebuddy/
.DS_Store
__pycache__/
*.pyc
node_modules/
vendor/
bin/
config.yaml
config.local-mysql.yaml
config.docker.yaml
config.yml
config.local-mysql.yml
config.docker.yml
cookie.txt
data/
db/
podsync.log
log/
